h1,
h2,
h3 {
    margin: 0;
}

.btn-custom {
    display: block;
    position: relative;
    margin-left: auto;
}

.App {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.App-wrapper {
    padding: 10px 20px;
}

.Header {
    width: 100%;
    text-align: center;
    color: #dc3545;
}

.expense-form-input {
    width: 100%;
}

.form-group label {
    color: #dc3545;
}

.form-control:focus {
    border-color: #dc3545;
    box-shadow: none;
}

.expense-list-container {
    width: 100%;
    background-color: #eb4b3f96;
    border-radius: 5px;
    padding: 16px;
}

.expense-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.expense-list-notice {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-weight: 400;
}

.expense-item__flex {
    display: flex;
    align-items: center;
}

.expense-item {
    padding: 12px;
    border-radius: 5px;
    background-color: #dc3545;
    display: flex;
}

.expense-item__time {
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #eb4b3f96;
}

.expense-item__title {
    flex: 1;
    padding: 0 12px;
}

.expense-item__title h3 {
    font-size: 20px;
    font-weight: 400;
}

.expense-item__amout {
    font-size: 20px;
}

.expense-item__remove {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
